
body{
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
}
.frontendTitle{
    font-family: 'Montserrat', sans-serif;
    margin-left: -200px;
    color: #EEEEEE;
    font-size: 38px;
}
#navlogo{
height: 150px;}
.navContainer{

    background-image: url("../images/lightning.png") ;
    background-size: 1200px;
    width: 90%;
    border: solid;
    border-radius: 15px 15px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: auto;
}

.navLi{
    background-color: #222831;
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
    text-align: center;
    list-style: none;
    font-size: 17px;
    margin: auto;
    padding: 10px;
    display: inline;
}
.navLi:hover{
    background-color: #EEEEEE;
    color: #222831;
}
.navLi:first-child{
    margin-left: -250px;
    border-radius: 15px 0px 0px 0px;
}
.navLi:last-child{
    border-radius: 0px 0px 15px 0px;
}
/*   Body/content  */

.contentContainer{
margin: auto;
width: 90%;
background-color: #b9f6fd;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
border: solid;
justify-content: center;


}
div{
    color: #EEEEEE;
    background-color: #222831;
}
.content{
    color: #EEEEEE;
    background-color: #222831;
    width: 90%;
    text-align: center;
    grid-column: 1/5;
    margin: auto;
    justify-items: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    width: 90%;
}
#urlExample{
    text-align: center;
    justify-items: left;
    grid-column: 1/5;
    width: 100%;
    box-shadow: 0px 15px 5px -1px #16d3e9;
}
div#purpose{
    grid-column: 1/4;
    margin: auto;
    justify-items: right;
    margin-left: 0px;
    box-shadow: 15px 15px 5px 12px #16d3e9;
}
p#purpose{
    text-align: right;
}
h3{
    background-color: #393E46;
    text-align: left;
    font-size: 25px;
    padding: 5px;
}
.requirementsHead{
    text-align: right;
}
.requirements{
    text-align: left;
}
div#requirements{
    margin-right: 0px;
    box-shadow: -13px 15px 5px 12px #16d3e9;
}
div#typo{
    justify-items: left;
    margin-left: 0px;
    
}
div#taraud{
    justify-items: left;
    margin-left: 0px;
    
}
div#colscheme{
    justify-items: left;
    margin-left: 0px;
}
#typo{
    color: #EEEEEE;
}
#taraud{
    color: #EEEEEE;
}
#colscheme{
    color: #EEEEEE;
}
footer{
color: #EEEEEE;
width: 90%;
border: solid black;
border-radius: 0px 0px 15px 15px;
background-color: #393E46;
text-align: center;
margin: auto;}
div#colors{
    padding:5px;
    justify-items: center;
    margin-top: 0px;
}
.white{background-color: #EEEEEE;color: #222831; padding: 20px; border:solid;}
.lightblue{background-color: #16d3e9; padding: 20px; border:solid;}
.blue{background-color: #b9f6fd; color: #222831; padding: 20px; border:solid;}
.grey{background-color: #222831; padding: 20px;border:solid;}
.darkgrey{background-color: #393E46; padding: 20px; border:solid;}